@layout('layout/app')

@section('content')
<header class='detail-header'>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="page-title ">
                    <div class="title">Edit</div>
                    <div class="subtitle">Store</div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container create-user-content">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control rb-input" id="name" name="name" placeholder="Name"
                       value="{{store.name}}" disabled>
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="storeCode">Store code</label>
                <input type="text" class="form-control rb-input" id="storeCode" name="storeCode"
                       placeholder="Store code"
                       value="{{store.storeCode}}" disabled>
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control rb-input" id="address" name="address"
                       placeholder="Address" value="{{store.address}}" disabled>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-6">
            <div class="form-group">
                <label for="groupName">Group Name (CMS)</label>
                <input type="text" class="form-control rb-input" id="groupName" name="groupName"
                       placeholder="Group Name" value="{{store.groupName ? store.groupName : '-'}}" disabled>
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="keringDepartmentStore">Kering Department Store (Store DB)</label>
                <input type="text" class="form-control rb-input" id="keringDepartmentStore" name="keringDepartmentStore"
                       placeholder="Kering Department Store" value="{{store.keringDepartmentStore ? store.keringDepartmentStore : '-'}}" disabled>
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="latitude">Latitude</label>
                <input type="text" class="form-control rb-input" id="latitude" name="latitude"
                       placeholder="Latitude" value="{{store.latitude}}" disabled>
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="longitude">Longitude</label>
                <input type="text" class="form-control rb-input" id="longitude" name="longitude"
                       placeholder="Longitude" value="{{store.longitude}}" disabled>
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="utc">Timezone</label>
                <input type="text" class="form-control rb-input" id="utc" name="utc"
                       placeholder="UTC" value="{{store.utc > 0 ? '+' : '' }}{{store.utc}}" disabled>
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="statusCode">Status Code</label>
                <input type="text" class="form-control rb-input" id="statusCode" name="statusCode" placeholder="Status"
                       value="{{store.meta.statusCode}}" disabled>
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="deleted">Deleted</label>
                <input type="text" class="form-control rb-input" id="deleted" name="deleted"
                       placeholder="Deleted" value="{{store.meta.deleted}}" disabled>
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="openingDate">Opening Date</label>
                <input type="text" class="form-control rb-input" id="openingDate" name="openingDate"
                       placeholder="Opening Date"
                       value="{{store.meta.openingDate ? store.meta.openingDate.toDateString() : '-'}}" disabled>
                <div class="invalid-feedback">
                    This field is required.
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="closingDate">Closing Date</label>
                <input type="text" class="form-control rb-input" id="closingDate" name="closingDate"
                       placeholder="Closing Date" value="{{store.meta.closingDate ? store.meta.closingDate.toDateString() : '-'}}" disabled>
            </div>
        </div>
    </div>
</div>
@endsection
