@layout('layout/app')

@section('content')
	<div class="container">
		<header class='list-header'>
			Stores List
		</header>

		<div class='row stores-toolbar'>
			<div class='col-6'>
				<input type='text' name="search-stores-table" id="search-stores-table" placeholder='Search by JDA Code OR Store name OR Multi JDA name' class="rb-input">
			</div>
            <div class='col-2 offset-4 d-flex'>
                <select id="status-filter" class="outlined-select">
                    <option value>Select status</option>
                    <option value="ACTIVE">Active</option>
                    <option value="CLOSED">Closed</option>
                </select>
            </div>
		</div>

		<table id='storeList' class='stores-table custom-table'></table>
	</div>
@endsection

@section('script')
	@super
	@include('partials/dataTables/index')
    @include('partials/underscore/index')

	<script type='text/javascript'>
		$(document).ready(function () {
			var table = new Table(
				'#storeList',
				'/api/store/data_table',
				[
					{title: 'JDA Code', data: 'storeCode', searchable: true, orderable: true, width: '15%'},
					{title: 'Store', data: 'name', searchable: true, orderable: true, width: '30%'},
					{data: 'address', visible: false},
					{title: 'Status', data: 'meta.statusCode', searchable: false, orderable: true, width: '10%', defaultContent: ""},
					{title: 'Multi JDA', data: 'multiDoor', searchable: true, orderable: true, width: '35%', defaultContent: ""},
					{title: 'Actions', data: 'storeCode', searchable: false, orderable: false, width: '10%'},
				],
				[
					{
						targets: 1,
						data:  null,
						render: function(data, x, row) {
							return '<div>\
								<div class="primary-data">'+row.name+'</div>\
								<div class="store-address">'+row.address+'</div>\
							</div>';
						}
					},
					{
						targets: -1,
						data: null,
						render: function(data, x, row) {
							return '<a href="/admin/store/' + data + '" class="btn custom-table-button manage-store-button" role="button">View</a>'
						}
					}
				],
                [[ 3, "asc" ], [ 0, "asc" ]]
			);

			// Autocomplete / Automatic search on store name/code
			$('#search-stores-table').keyup(_.debounce(() => {
				var value = $('#search-stores-table').val()
				if (value.length > 2) {
					table.search(value, true).draw();
				} else {
					table.search("", true).draw();
				}
			}, 500));

			$("#status-filter").change(function () {
				if (this.value === "ACTIVE") {
					table.columns(3).search('ACTIVE').draw();
				} else if (this.value === "CLOSED") {
					table.columns(3).search('CLOSED').draw();
				} else {
					table.columns(3).search("", true).draw();
				}
			})
		});
	</script>
@endsection
