.stores-table {
    tbody {
        .store-address {
            font-size: 0.750em;
        }

        .manage-store-button {
            white-space: nowrap;
        }
    }
}

.stores-toolbar {
    margin-bottom: 40px;

  .rb-input {
      width: 100%;
  }
}
