@layout('layout/auth')

@section('content')
    <form action="/admin/auth/new_password" method="post">

        <p class="reset-title">Send new password</p>

        <div class="row reset-row">
            <div class="col-8 offset-2 col-md-4 offset-md-4">
                <div class="input-group">
                    <input type="email" name="email" class="reset-input" placeholder="Email"
                           required />
                    @each(error in errors)
                    @if(error.param == "email")
                    <div class="invalid-feedback" style="display: block">{{ error.msg }}</div>
                    @endif
                    @endeach
                </div>
            </div>
        </div>

        <div class="row submit-row">
            <div class="col-6 offset-3 col-md-2 offset-md-5">
                <input type="submit" value="Send" class="reset-submit">
            </div>
        </div>

    </form>
@endsection
