@layout('layout/auth')

@section('content')
    <form>
        <p class="reset-title">Great, you have a new password!</p>
        <p class="reset-title">Open Runner Booster APP and use your credential to login</p>
    </form>
@endsection
