@layout('layout/app')

@section('content')
<header class='detail-header'>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="page-title ">
                    <div class="title">Edit</div>
                    <div class="subtitle">Help section</div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container help-edit-content">
    <form action="/admin/help" method="post">
        <div class="row justify-content-md-center">
            <div class="col-10">
                <label for="summernote">Text</label>
                <textarea name="text" id="summernote">{{ help.text }}</textarea>
                <input type="submit" value="Save" class="dark-btn create-user-btn">
            </div>
        </div>
    </form>
</div>
@endsection

@section('script')
@super
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		$('#summernote').summernote();
	});
</script>
@endsection
