/**
* Forza lo stile del jquery-confirm
* (ecco perché tutti gli important)
*/

.jconfirm.jconfirm-light .jconfirm-box {
    border-radius: 0 !important;;
}

.jconfirm.jconfirm-light .jconfirm-box .jconfirm-title {
    font-weight: 600;
}

.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons >  button {
    border-radius: 0;
}

.jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons >  button.btn-dark {
    background-color: #000;
}


.jconfirm-buttons {
    .btn {
        font-weight: 400 !important;
    }
}
