.select2 .select2-selection.select2-selection--single {
    height: 40px;
    background: #fff url("/icons/arrow-down.svg") right 10px center / 15px no-repeat;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

/* Users autocomplete */
.select2 .select2-selection.select2-selection--multiple,
.select2 .select2-selection.select2-selection--single {
    background: #fff;
    border: 1px solid #E5E5EA;
    border-radius: 0;
    font-weight: 400;
    font-size: 0.875em;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #000;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--default .select2-selection--single .select2-selection__choice {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove,
.select2-container--default .select2-selection--single .select2-selection__choice .select2-selection__choice__remove {
    color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__choice .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove:hover {
    color: #999;
}

.select2-container--open .select2-dropdown--below {
    border: none;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15);
}

.select2-selection__arrow {
    display: none;
}
