@layout('layout/app')

@section('content')
<form id="create-user-form" action="/admin/user/{{user.id}}" method="post" class="needs-validation" novalidate>
    <header class='detail-header'>
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="page-title ">
                        <div class="title">Edit</div>
                        <div class="subtitle">USER</div>
                    </div>
                </div>

                <div class="col-3 offset-6 d-flex align-items-center">
                    <input type="submit" value="Save" class="dark-btn create-user-btn">
                </div>
            </div>
        </div>
    </header>

    <div class="container create-user-content">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="firstName">Name</label>
                    <input type="text" class="form-control rb-input" id="firstName" name="firstName" placeholder="Name" value="{{user.firstName}}" required>
                    <div class="invalid-feedback">
                        This field is required.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="lastName">Surname</label>
                    <input type="text" class="form-control rb-input" id="lastName" name="lastName" placeholder="Surname" value="{{user.lastName}}" required>
                    <div class="invalid-feedback">
                        This field is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="email_disabled">Email</label>
                    <input type="email" class="form-control rb-input" id="email_disabled" name="email_disabled" placeholder="Email" value="{{user.email}}" disabled>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="businessTitle">Business title</label>
                    <input type="text" class="form-control rb-input" id="businessTitle" name="businessTitle" placeholder="Business title" value="{{user.businessTitle}}" required>
                    <div class="invalid-feedback">
                        This field is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="jobFamily">Job family</label>
                    <select id="jobFamily" name="jobFamily" class="form-control create-user-select" required>
                        <option></option>
                        <option value="Retail Operations">Retail operations</option>
                        <option value="Other">Other</option>
                    </select>
                    <div class="invalid-feedback">
                        This field is required.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="jobLocation">Job location</label>
                    <select id="jobLocation" name="jobLocation" class="form-control create-user-select" required>
                        <option></option>
                        <option value="Office">Office</option>
                        <option value="Store">Store</option>
                        <option value="Other">Other</option>
                    </select>
                    <div class="invalid-feedback">
                        This field is required.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="loginSelect">Login</label>
                    <select id="loginSelect" name="loginSelect" class="form-control create-user-select" disabled>
                        <option></option>
                        <option value="sso">SSO</option>
                        <option value="guest">Guest</option>
                    </select>
                    <div class="invalid-feedback">
                        This field is required.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="alias">Alias</label>
                    <input type="text" class="form-control rb-input" id="alias" name="alias" placeholder="Alias" value="{{user.alias}}" disabled>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                @if(user.isExternal)
                    @if(user.password)
                        <p>User has completed registration</p>
                    @else
                        <p>User hasn't completed registration</p>
                        <button class="btn dark-btn" id="resend_welcome_email">Resend welcome email</button>
                    @endif
                @endif
            </div>
        </div>
    </div>
</form>
@endsection


@section('script')
    @super
    @include('partials/select2/index')
    @include('partials/confirm/confirm')

    <script type='text/javascript'>
        $(document).ready(function () {
            var user = ({{{ toJSON(user) }}});
            var jobFamily = $('#jobFamily').select2({
                placeholder: 'Select one...',
            })

            if(user.jobFamily === 'Retail Operations') {
                jobFamily.val('Retail Operations');
            } else {
                jobFamily.val('Other');
            }
            jobFamily.trigger('change');


            var jobLocation = $('#jobLocation').select2({
                placeholder: 'Select one...'
            })
            jobLocation.val(user.jobLocation);
            jobLocation.trigger('change');


			var loginSelect = $('#loginSelect').select2({
				disabled: true,
			})
			loginSelect.val(user.isExternal ? 'guest' : 'sso');
			loginSelect.trigger('change');

            var form = document.getElementById('create-user-form');
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);

			$("#resend_welcome_email").on('click', function (e) {
				e.preventDefault();
				$.confirm({
					title: 'Send welcome email',
					content: 'Do you want resend the welcome email to this user?',
					backgroundDismiss: true,
					buttons: {
						ok: {
							text: 'Send',
							keys: ['enter'],
							btnClass: 'btn-dark',
							action: function () {
								$.ajax({
									type: "post",
									url: '/api/user_white_list/{{user.id}}/resend_welcome_email',
									contentType: 'application/json',
									success: function (msg) {
                                        $.alert({
                                            title: 'Success',
                                            content: 'Welcome email sent',
                                            type: 'green',
                                            typeAnimated: true,
                                            buttons: {
                                                ok:  {
                                                    action: function () {},
                                                    btnClass: 'btn-dark',
                                                },
                                            }
                                        });
                                    },
									error: function (xhr, ajaxOptions, thrownError) {
                                        var call = this;
                                        $.alert({
                                            title: 'Uh-oh',
                                            content: 'An error occurred while sending the welcome email',
                                            type: 'red',
                                            typeAnimated: true,
                                            buttons: {
                                                retry:  {
                                                    action: function () {
                                                        $.ajax(call);
                                                    },
                                                    btnClass: 'btn-dark',
                                                },
                                                cancel: function() {},
                                            }
                                        });
									}
								});
							}
						},
						cancel: {
							text: 'Cancel',
							action: function () {}
						}
					}
				});
			})
        })

    </script>
@endsection
